# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.so

# Cython
*.c
*.cpp

# Packaging
.Python

# Virtual envs
.venv/
venv/
ENV/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
